<div class="row">
  <div class="col-md-9">
    <canvas id="pad" class="" height="600" width="850" style=" box-shadow: 2px 2px 2px #888888;"></canvas>


    <div>
    </div>
  </div>

<div class="col-md-2">
  <input ng-model="pad.imageName" type="text" name="name" >
  <input ng-click="pad.grabImageName()" type="button" name="name" value="Save image">

<div >
  {{pad.lineTk}}
  <input type="range" min="1" max="10" size="3" width="100" ng-model="pad.lineTk" ng-change="pad.widthChange()">
</div>

  <input colorpicker ng-model="pad.color" ng-change="pad.updateColor()"type="text">
</div>

</div>
