<!DOCTYPE html>
<html ng-app ="doodleApp">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css" charset="utf-8">
    <script src="vendors/angular/angular.min.js"></script>
    <script src="scripts/client.js"></script>
    <title></title>
  </head>
  <body ng-controller = "loginController as in">

<div class="container">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="username" class="col-sm-6 control-label">Username</label>
      <input type="text" name="username" value="fff" placeholder="username" ng-model ="in.username">
    </div>

  <div class="form-group">
    <label for="pass" class="col-sm-6 control-label">Password</label>
    <input type="password" name="pass" placeholder="password"ng-model ="in.password">
  </div>

  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-10">
      <a href="/register" >Register</a>
      <button class="btn btn-primary " ng-click="in.logInput()">Sign in!</button>
    </div>

  </div>
  </form>
</div>





  </body>
</html>
