<!DOCTYPE html>
<html ng-app ="doodleApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular/angular.min.js"></script>
    <script src="scripts/client.js"></script>
    <title></title>
  </head>
  <body ng-controller = "loginController as in">

    <p>
      <label for="username">Username</label>
      <input type="text" name="username" value="fff" ng-model ="in.mess">
    </p>

  <p>
    <label for="pass">Password</label>
    <input type="password" name="pass" ng-model ="in.PassN">
  </p>

  <p>
    <a href="/register">Register</a>

    {{in.message}}
  </p>
  </body>
</html>
