<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Welcome</h2>
    <div class="form-group">
      <label for="username" class="sr-only">Username</label>
      <input type="text" class="form-control"name="username" value="fff" placeholder="username" ng-model ="in.username">
    </div>

  <div class="form-group">
    <label for="pass" class="sr-only">Password</label>
    <input type="password" class="form-control" name="pass" placeholder="password"ng-model ="in.password">
  </div>

  <div class="form-group">
    <div class="">

      <button class="btn btn-primary btn-block btn-lg " ng-click="in.logInput()">Sign in!</button>
      <p>
        <a href="/register" >Register</a>
      </p>
    </div>

  </div>
  </form>
</div>
