<!DOCTYPE html>
<html ng-app= "doodleApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css" charset="utf-8">
    <link rel="stylesheet" href="/style/main.css" media="screen" title="no title" charset="utf-8">
    <script src="vendors/angular/angular.min.js"></script>
     <script src="/vendors/jscolor-2.0.4/jscolor.js"></script>
    <script src="scripts/client.js"></script>


    </script>
    <title>Doodleer</title>
  </head>
  <body ng-controller = "padController as pad">
    <nav class="navbar navbar-default">
      <div class="container-fluid">

      </div>
    </nav>

    <canvas id="pad" height="600" width="1100" style=" box-shadow: 2px 2px 2px #888888;"></canvas>

    <input class="jscolor" onchange="updateColor(this.jscolor)" value="" readonly></button>
    <div id="color">

      <input ng-model="pad.imageName" type="text" name="name" value="">
      <input ng-click="pad.grabImageName()" type="button" name="name" value="Save image">




<script type="text/javascript" src="scripts/sketch.js"></script>
  </body>
</html>
