<!DOCTYPE html>
<html ng-app="doodleApp">
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular/angular.min.js"></script>
    <script src="scripts/client.js"></script>
    <title></title>
  </head>
  <body>
    <p>
      <label for="email">Email</label>
      <input type="email" name="email" value="" required>
    </p>

    <p>
      <label for="username">Username</label>
      <input type="text" name="username" value="">
    </p>

    <p>
      <label for="pass">Password</label>
      <input type="password" name="pass" value="">
    </p>

    {{5+3}}

  </body>
</html>
