<!-- <p>
  <label for="email">Email</label>
  <input type="email" name="email" ng-model ="regCo.email" >
</p>

<p>
  <label for="username">Username</label>
  <input type="text" name="username" ng-model ="regCo.username">
</p>

<p>
  <label for="pass">Password</label>
  <input type="password" name="pass" ng-model ="regCo.password">
</p>


<button ng-click='regCo.logInput()'>Register</button> -->


<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Registration</h2>
    <div class="form-group">
      <label for="email" class="sr-only">Email</label>
      <input type="text" class="form-control"name="email" value="fff" placeholder="Email" ng-model ="regCo.email">
    </div>

    <div class="form-group">
      <label for="username" class="sr-only">Username</label>
      <input type="text" class="form-control"name="username" value="fff" placeholder="username" ng-model ="regCo.username">
    </div>

  <div class="form-group">
    <label for="pass" class="sr-only">Password</label>
    <input type="password" class="form-control" name="pass" placeholder="password"ng-model ="regCo.password">
  </div>

  <div class="form-group">
    <div class="">

      <button class="btn btn-primary btn-block btn-lg " ng-click="regCo.logInput()">Register</button>

    </div>

  </div>
  </form>
</div>
